section.main{
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  .arrow-left, .arrow-right{
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: $color-dark-grey;
    border: 2px solid $color-dark-grey;
    padding: 20px;
    transition: .15s;
    user-select: none;
    &:active{
      transform: scale(0.95);
    }
  }
  .arrow-left{
    left: 20px;
  }
  .arrow-right{
    right: 20px;
  }
  .title{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(53, 53, 53, 0.5);
    h1{
      font-size: 43px;
      font-weight: 700;
      color: $color-white;
      text-transform: uppercase;
    }
    p{
      font-size: 14px;
      line-height: 1.4;
      width: 36%;
      margin: auto;
      color: $color-white;
    }
  }
  .btn-info{
    @include button($color-white);
  }
}

section.feature{
  padding: 50px 0px;
  background: $color-shadow;
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .wrapper{
      width: 30%;
      margin-bottom: 20px;
      h2{
        color: $color-blue;
        text-transform: uppercase;
        font-size: 24px;
        padding: 20px 0px;
      }
      p{
        @include text-regular();
      }
      .fa{
        font-size: 50px;
        color: $color-dark-grey;
      };
    }
  }
}

section.recent-projects{
  padding-top: 60px;
  padding-bottom: 30px;

  h2{
    @include header();
  }
  .slider-box{
    display: flex;
    justify-content: space-between;
    .slide{
      padding-top: 50px;
      width: 30%;
      img{
        width: 100%;
      }
    }
  }
  .navigation{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    padding-top: 10px;
    .left, .right{
      background: $color-blue;
      color: $color-white;
      width: 23px;
      height: 20px;
      margin-left: 5px;
      line-height: 20px;
      font-size: 14px;
    }
  }
}

section.counter{
  background: $color-blue;
  display: flex;
  justify-content: space-between;
  .counter-wrapper{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    color: $color-white;
    font-size: 48px;
    h2{
      font-weight: 700;
      padding-bottom: 20px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        background: $color-white;
        height: 2px;
        width: 64px;
      }
    }
    h3{
      font-weight: 100;
      font-size: 30px;
    }
  }
}